// PANEL HEADER

.page-wrapper .header.panel>.header.links>.authorization-link:after{
    display: none;
    content: '';
}

.minicart-wrapper .action.showcart:before{
    color: white;
}
.minicart-wrapper{
    margin-top: 0;
}
.authorization-link a{
    font-family: Roboto;
    font-size: 18px;
    margin-top: 2px;
}
.authorization-link{
    height: 30px;
    text-align: center;
    width: 100px;
    background-image: linear-gradient(to top, #8cc73e 0%, #8acdc4 100%);
    vertical-align: middle;
    border-radius: 5px;
}

a[href^="http://localhost/magentoweb/customer/account/create/"]{
    margin-top: 5px;
}

//HEADER

.page-header .header.content{
    padding-bottom: 0;
    padding-top: 0;
}

.header.content .logo{
    float: left;
    width: 30%;
    margin: -8px auto 0 0;

}

.logo img{
    width: 100%;
    margin-bottom: 0;
    height: 120px;
    margin-top: 0;
}

.page-header .block-search {
    float: left;
    width: 30%;
    margin-top: 35px;
    margin-left: 35px;
    max-width: 30%;
    min-width: 20%;
}
.block-search input{
    border-radius: 5px;
    border: 2px solid #8acdc4;
    background-size: 20px 20px;
}

.block.block-search .action.search:before{
    display: none;
    content: '';
}
.block.block-search .action.search:after{
    content: "Zoeken";
    background-color: #8dc73f;
    margin: 0 -8px;
}
.block.block-search button:after{
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.block-search .label:before{
    background: url("@{baseDir}images/search.png") no-repeat;
}

.block.block-search input:placeholder-shown{
    content: "Zoek in het assortiment ";
    font-size: 15px;
}

.working-hours {
    height: 100%;
    width: 33%;
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-left: 0;
}
.phone-number{
    font-size: 19px;
    margin-bottom: 0;
}
.working-hour{
    font-size: 11px;
}
.image-item{
    float: left;
    width: 20%;
}
.phone-number-item{
    float: right;
    width: 100%;
    margin-top: 16px;
}
.phone-covered{
    color: #8dc73f;
    font-family: "covered-by-your-grace";
}

.phone-image{
    position: relative;
    height: 65px;
    left: -10px;
    max-width: 180%;
    bottom: 10px;
}

//SECTION

.ves-megamenu.top-navigation>.navigation{
    text-align: center;
}

//MAINCONTENT

.columns{
    width: 100%;
    text-align: center;
}

.logo-to-content{
    position: absolute;
}

.logo-main{
    position: relative;
    top: 40px;
    right: 270px;
    width: 450px;
}

.header-main-content{
    font-size: 30px;
    text-align: center;
    color: #626262;
    font-family: Roboto;
}
.main-content{
    margin-bottom: 0;
    color: #626262;
    font-family: Roboto;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}
.static-content{
    font-family: Roboto;
    margin: auto;
    width: 90%;
    font-size: 16px;
    line-height: 26px;
}
.main-content-wrapper{
    margin: auto;
    width: 100%;
}

.content-wrapper{
    width: 62%;
    margin: auto;
}

.social-media{
    text-align: center;
}
.smartportoffon-icon{
    float: right;
    padding-right: 10px;
}

.smart-icons{
    float: left;
    width: 50%;
}

.face-twit{
    width: 45%;
    float: left;
    margin-top: 43px;
}

.partners-icon{
    width: 100%;
    border-top: 1px solid gray;
    clear: both;
}

.partners-icon-item{
    float: left;
    width: 16%;
    margin-left: 3%;
    height: 120px;
}
.partners-icon-item.motorolla{
    height: 90px;
}
.partners-icon-item.icom{
    height: 90px;
}
.partners-icon-item.hytera{
    height: 100px;
}

//FOOTER

footer .footer.content .links{
    padding-right: 0;
}

.page-wrapper .page-footer{
    margin-top: 0;
}

footer.page-footer{
    background-color: #626262;
}
footer .page-footer .footer .content{
    color: white;
}

.footer-phone-image{
    height: 10px;
}

.menu{
    width: 100%;

}
.menu-item{
    float: left;
    width: 25%;
    color: white;
}

.footer.content .links a:visited{
    color: white;
}

.footer.content .links a{
    color: white;
}

.word-white{
    color: white;
}
.menu-item .telephone  {
    background: url("@{baseDir}images/smallphone.png") no-repeat;
    padding-left: 5px;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.menu-item-count .email {
    background: url("@{baseDir}images/email1.png") no-repeat;
    padding-left: 10px;
    display: inline-block;
    height: 9px;
    width: 3%;
    margin-top: 6px;
    padding-right: 5px;
    float: left;
}
.menu-item-count{
    clear: both;
}
.page-footer .footer.content .links .email-info{
    float: left;
    padding: 0;
    width: 80%;
}

footer.content.links .menu-item-count {
    color: white;
}
.page-footer .footer.content ul{
    padding: 0;
}

.page-footer .block .newsletter{
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

input[type=email]{
    background-color: inherit;
    color: white;
    border-radius: 5px;
    border-color: #8bc53b;
}

input[type=email]::placeholder{
    color: #c4c4c4;
}

.footer.content .block .newsletter{
    float: none;
    margin: 0 auto;
}
.block.newsletter .field .control:before{
    color: white;
    right: 120px;
    display: none;
}
.block.newsletter .action.subscribe{
    padding: 0;
    border: none;
    background: url("@{baseDir}images/telegram1.png") no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    top: 8px;
    right: 25px;
}
.block.newsletter .action.subscribe span{
    content: "";
    display: none;
}

.small-portofoon-icon{
    float: left;
    width: 40%;
    margin-top: 0;
}
.small-portofoons-icons{
    float: left;
    width: 60%;
    margin-top: 15px;
}

.page-footer:after{
    clear: both;
}

//COPYRIGHT

.copyright{
    background-color: #8bc53b;
}


//     MEDIA

@media only screen and (max-width: 1024px) and (min-width: 768px) {

    .logo{
        margin-bottom: 0;
    }
    .logo img{
        width: 100%;

    }
    .phone-image{
        height: 53px;
        bottom: 0px;
        left: -7px;
    }
    .phone-number{
        margin-top: 8px;
        font-size: 13px;
    }
    .phone-number-item{
        margin-top: 14px;
    }

    .phone-covered{
        font-size: 15px;
    }
    .working-hour{
        font-size: 8px;
    }
    .working-hours{
        width: 32%;
    }
    .page-wrapper .sections.nav-sections{
        text-align: center;
    }

    .block.block-search input:placeholder-shown{
        font-size: 12px;
    }

    .ves-megamenu.top-navigation>.navigation{
        text-align: center;
    }
    .sections.nav-sections .ves-megamenu .navigation .level0>a>span, .ves-megamenu .navigation .content-type-parentcart .level1>a>span{
        font-size: 8px;
    }

    .header-main-content{
        font-size: 22px;
    }
    .logo-main{
        width: 400px;
        right: 270px;
    }
    .main-content{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .static-content{
        font-size: 14px;
    }

    .face-twit{
        margin-top: 40px;
    }
    .smartportoffon-icon{
        width: 190px;
    }
    .small-portofoon-icon{
        margin-top: 5px;
        width: 50%;
    }
    .small-portofoons-icons{
        margin-top: 22px;
        width: 50%;
    }

    .menu-item h3{
        font-size: 14px;
    }
    .menu-item p{
        font-size: 14px;
    }
}


@media only screen and (max-width: 767px) and (min-width: 425px) {
    .nav-toggle{
        float: right;
        width: 15%;
        margin-top: 15px;
        position: static;
    }
    .block-search .label{
        margin-right: 25px;
    }

    .header.content .logo{
        float: left;
        width: 50%;
        max-width: 70%;
        margin-top: -4px;
    }

    .header.content .logo img{
        width: 240px;
        margin-left: 10px;
        height: 80px;
        min-width: 100px;
    }

    .page-header .block-search{
        float: none;
        position: relative;
        bottom: 55px;
        left: 185px;
    }
    .page-header .block-search .control{
        border: none;
    }
    .block.block-search input:placeholder-shown{
        font-size: 8px;
    }
    .working-hours{
        width: 100%;
        float: left;
    }
    .phone-number-item{
        width: 45%;
        float: left;
        margin-top: -35px;
    }
    .image-item{
        position: absolute;
        float: left;
        width: 15%;
    }
    .phone-image{
        position: relative;
        height: 60px;
        left: -30px;
        max-width: 180%;
        bottom: 5px;
    }
    .phone-number{
        width: 200%;
        font-size: 20px;
        margin-left: 40px;
    }

    .phone-covered{
        font-size: 20px;
    }
    .working-hour{
        width: 210%;
        font-size: 12px;
        margin-left: 40px;
    }

    .content-wrapper{
        width: 100%;
    }

    .logo-to-content{
        bottom: 999999px;
    }

    .main-content{
        font-size: 16px;
    }
    .header-main-content{
        font-size: 18px;
    }
    .static-content{
        font-size: 12px;
    }

    .face-twit{
        width: 70%;
        margin-top: 13px;
    }

    .smartportoffon-icon{
        padding-right: 0;
        width: 50%;
    }
    .partners-icon-item{
        float: none;
        display: block;
        border-bottom: 1px solid grey;
        width: 180px;
        height: auto;
        margin: auto;
    }
    .partners-icon-item.icom{
        margin-bottom: 16px;
        height: auto;
    }
    .partners-icon-item.motorolla{
        height: auto;
    }
    .menu-item{
        width: 50%;
        line-height: 10px;
    }

    .menu-item ul{
        line-height: 0;
    }

    .menu-item h3{
        font-size: 12px;
    }
    .menu-item p{
        font-size: 10px;
    }
    ul .menu-item-count{
        font-size: 10px;
        line-height: 0;
    }
    .menu-item-count .email{
        padding-top: 5px;
        margin-top: 0;
    }
    .menu-item-count .word-white.email-info{
        padding-bottom: 8px !important;
    }

    .page-footer .footer.content .links a{
        color: white;
    }
    .page-footer .footer.content .links a:visited{
        color: white;
    }
    .page-footer .footer.content .links a {
        color: white;
    }
    .block.newsletter .field .control:before{
        left: 999999px;
    }
    .small-portofoon-icon{
        margin-top: 5px;
    }
    .copyright{
        background-color: #8bc53b !important;
    }

    .minicart-wrapper{
        bottom: 95px;
        right: 20px;
    }
    .authorization-link{
        height: 40px;
        width: 125px;
    }

}


@media only screen and (max-width: 424px) and (min-width: 375px) {
    .nav-toggle{
        float: right;
        width: 15%;
        margin-top: 15px;
        position: static;
    }
    .block-search .label{
        margin-right: 20px;
    }

    .header.content .logo{
        float: left;
        width: 70%;
    }

    .header.content .logo img{
        width: 180px;
        margin-left: 10px;
        height: 55px;
        margin-top: 18px;
    }

    .page-header .block-search{
        float: right;
        width: 30%;
        margin-top: 20px;
        margin-left: 0;
    }
    .block.block-search input:placeholder-shown{
        font-size: 8px;
    }
    .page-header .block-search .control{
        border: none;
    }

    .working-hours{
        width: 70%;
        float: left;
        margin-top: 45px;
    }
    .phone-number-item{
        width: 100%;
        float: left;
        margin-top: -35px;
    }
    .image-item{
        position: absolute;
        float: left;
        width: 12%;
    }
    .phone-image{
        position: relative;
        height: 45px;
        left: -24px;
        max-width: 180%;
        bottom: 4px;
    }
    .phone-number{
        width: 100%;
        font-size: 14px;
        margin-left: 25px;
    }
    .working-hour{
        font-size: 9px;
        width: 90%;
        margin-left: 25px;
    }

    .logo-to-content{
        bottom: 99999px
    }
    .logo-main{
        top: 90px;
        right: 175px;
    }
    .main-content{
        font-size: 14px;
    }
    .header-main-content{
        font-size: 16px;
    }
    .static-content{
        font-size: 10px;
        line-height: 18px;
    }

    .face-twit{
        width: 70%;
        margin-top: 13px;
    }
    .smartportoffon-icon{
        padding-right: 0;
        width: 50%;
    }
    .partners-icon-item{
        float: none;
        display: block;
        border-bottom: 1px solid grey;
        width: 180px;
        height: auto;
        margin: auto;
    }

    .partners-icon-item.icom{
        margin-bottom: 16px;
        height: auto;
    }
    .partners-icon-item.motorolla{
        height: auto;
    }
    .menu-item{
        width: 50%;
        line-height: 10px;
    }
    .menu-item ul{
        line-height: 0;
    }
    .menu-item h3{
        font-size: 12px;
    }
    .menu-item p{
        font-size: 10px;
    }
    .menu-item-count{
        font-size: 10px;
    }
    .menu-item-count .email-info{
        margin-top: 5px;
        margin-top: 0;
    }
    .menu-item-count .word-white.email-info{
        padding-bottom: 8px !important;
    }
    .menu-item-count .email{
        padding-top: 5px;
        margin-top: 0;
    }
    .page-footer .footer.content .links a{
        color: white;
    }
    .page-footer .footer.content .links a:visited{
        color: white;
    }
    .page-footer .footer.content .links a {
        color: white;
    }
    .block.newsletter .field .control:before{
        left: 999999px;
    }
    .small-portofoon-icon{
        margin-top: 5px;
    }
    .copyright{
        background-color: #8bc53b !important;
    }
    .minicart-wrapper{
        bottom: 95px;
        right: 20px;
    }
    .authorization-link{
        height: 40px;
        width: 125px;
    }
}

@media only screen and (max-width: 374px) and (min-width: 320px) {
    .nav-toggle{
        float: right;
        width: 15%;
        margin-top: 15px;
        position: static;
    }
    .block-search .label{
        margin-right: 10px;
    }
    .page-header .block-search .control{
        border: none;
    }
    .header.content .logo{
        float: left;
        width: 70%;
        max-width: 70%;
    }
    .header.content .logo img{
        height: 50px;
        margin-top: 20px;
        width: 80%;
        margin-left: 10px;
    }
    .page-header .block-search{
        float: none;
        position: absolute;
        bottom: 52px;
        left: 140px;
    }
    .block.block-search input:placeholder-shown{
        font-size: 8px;
    }
    .working-hours{
        width: 70%;
        float: left;
        margin-top: 35px;
    }
    .phone-number-item{
        width: 100%;
        float: left;
        margin-top: -35px;
    }
    .image-item{
        position: absolute;
        float: left;
        width: 12%;
    }
    .phone-image{
        position: relative;
        height: 40px;
        left: -26px;
        max-width: 180%;
        bottom: 5px;
    }
    .phone-number{
        width: 95%;
        font-size: 12px;
        margin-left: 20px;
    }
    .working-hour{
        font-size: 9px;
        width: 120%;
        margin-left: 20px;
    }
    .logo-to-content{
        left: 99999px
    }

    .main-content{
        font-size: 12px;
    }
    .header-main-content{
        font-size: 14px;
    }
    .static-content{
        font-size: 10px;
        line-height: 14px;
    }
    .face-twit{
        width: 70%;
        margin-top: 10px;
    }
    .smartportoffon-icon{
        padding-right: 0;
        width: 50%;
    }
    .partners-icon-item{
        float: none;
        display: block;
        border-bottom: 1px solid grey;
        width: 180px;
        height: auto;
        margin: auto;
    }

    .partners-icon-item.icom{
        margin-bottom: 16px;
        height: auto;
    }
    .partners-icon-item.motorolla{
        height: auto;
    }
    .menu-item{
        width: 50%;
        line-height: 9px;
    }
    .menu-item ul{
        line-height: 0;
    }
    .menu-item h3{
        font-size: 12px;
    }
    .menu-item p{
        font-size: 10px;
    }
    .menu-item-count{
        font-size: 10px;
    }
    .menu-item-count .email-info{
        margin-top: 5px;
    }
    .menu-item-count .word-white.email-info{
        padding-bottom: 8px !important;
    }
    .menu-item-count .email{
        padding-top: 5px;
        margin-top: 0;
    }
    .page-footer .footer.content .links a{
        color: white;
    }
    .page-footer .footer.content .links a:visited{
        color: white;
    }
    .page-footer .footer.content .links a {
        color: white;
    }
    .block.newsletter .field .control:before{
        left: 999999px;
    }
    .small-portofoon-icon{
        margin-top: 5px;
    }
    .small-portofoon-icons{
        margin-top: 12px;
    }
    .copyright{
        background-color: #8bc53b !important;
    }
    .minicart-wrapper{
        bottom: 95px;
        right: 20px;
    }
    .authorization-link{
        height: 40px;
        width: 125px;
    }
}
