& when (@media-common = true) {
    .lib-font-face(
        @family-name: 'fontello',
        @font-path: '@{baseDir}fonts/icons/fontello',
        @font-weight: normal,
        @font-style: normal
    );
}
& when (@media-common = true) {
    .lib-font-face(
        @family-name: 'iconmoon',
        @font-path: '@{baseDir}fonts/icons/iconmoon',
        @font-weight: normal,
        @font-style: normal
    );
}
& when (@media-common = true) {
    .lib-font-face(
        @family-name: 'covered-by-your-grace',
        @font-path: '@{baseDir}fonts/CoveredByYourGrace',
        @font-weight: normal,
        @font-style: normal
    );
}
& when (@media-common = true) {
    .lib-font-face(
        @family-name: 'Roboto',
        @font-path: '@{baseDir}fonts/Roboto-Regular',
        @font-weight: normal,
        @font-style: normal
    );
}

.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
