& when (@media-common = true) {


    .action.sorter-action.sort-asc {
        display: none;
    }

    #sorter {
        position: absolute;
        right: -20px;
        top: 20px;
        overflow: visible;
        height: 118px;
        z-index: 2;
        width: 139px;
        margin-top: 10px;
        display: none;
        border: 1px solid #aaa;
        border-radius: 0;
        cursor: pointer;
    }

    .sorter-label {
        .lib-font-size(18px);
        cursor: pointer;
    }

    .toolbar-sorter.sorter select {
        padding: 0;
        background-image: none;
        background-color: white;
    }

    #sorter option {
        background-color: @color-white;
        padding: 6px !important;
        background-image: none;
        width: auto;
        margin-bottom: 1rem;
        .lib-font-size(16px);
        .lib-line-height(18px);
    }

    #sorter option:hover {
        background-color: @color_grey_36;
        color: @color-white;
    }

    .icon-down {
        .lib-icon-image(@_icon-image: '@{baseDir}images/blank-theme-icons.png');
    }

    .icon-down {
        .lib-icon-sprite-position(10, 2);
    }
}

.media-width(@extremum, @break) when (@screen__m = 'max') and (@break = @screen__xxs) {
    .item.product.product-item {
        z-index: 0;
        opacity: 0.9;
    }

    #sorter {
        width: 125px;
        right: -10px;
    }

    .sorter-label {
        .lib-font-size(16px);
    }

    #sorter option {
        .lib-font-size(14px);
    }
}
