<div class="slider" data-mage-init='{"CustomSlider_Test/js/slider": {} }'>
    <ul>
        <li><img src="<?php echo $this->getViewFileUrl('images/img.jpg'); ?>" /></li>
        <li><img src="<?php echo $this->getViewFileUrl('images/img1.jpg'); ?>" /></li>
        <li><img src="<?php echo $this->getViewFileUrl('images/img2.jpg'); ?>" /></li>
        <li><img src="<?php echo $this->getViewFileUrl('images/img3.jpg'); ?>" /></li>
        <li><img src="<?php echo $this->getViewFileUrl('images/img4.jpg'); ?>" /></li>
    </ul>
</div>
