.section-item-content.nav-sections-item-content .block.ves-megamenu.ves-daccordion .navigation, .ves-megamenu.ves-mdrilldown .navigation, .ves-megamenu.ves-ddrill .navigation{
    border: none !important;
}

.category-menu-value:hover{
    text-decoration: underline !important;
    border: none !important;
}
.category-menu-value{
    color: @dark_grey;
    font-family: @font_roboto;
    .lib-font-size(13);
    letter-spacing: 0.65px;
    line-height: 16px;
}
.category-menu-value-top{
    font-weight: @font_weight_semi_bold !important;
    .lib-font-size(16);
    margin-left: 20px !important;
    padding-bottom: 10px !important;
    font-family: @font_roboto;
}

.item-after-content{
    margin-left: 20px;
    margin-top: 15px;
}

.ves-megamenu .navigation .level0 .submenu .submenu-inner .item-header{
    border-bottom: none !important;
}

.link-to-image{
    margin-left: 70px;
    font-family: @font_roboto;
    font-weight: @font_weight_semi_bold;
    .lib-font-size(12);
}

.mega-col.mega-col-3.mega-col-level-1.col-xs-12{
    text-align: left;
}
.mega-col.mega-col-5.mega-col-level-1.col-xs-12{
    text-align: left;
}
.mega-col.mega-col-7.mega-col-level-1.col-xs-12{
    text-align: left;
}

.navigation .level0 .submenu a:hover{
    background: none;
    text-decoration: underline;
}
.navigation .level0 .submenu a:hover, .navigation .level0 .submenu a.ui-state-focus{
    background: none !important;
    text-decoration: underline !important;
    color: @color-black !important;
}

.ves-megamenu img:hover{
    transform: none !important;
    transition: none !important;
}

.ves-megamenu .navigation .level0 .submenu .submenu-inner .item-header a:hover{
    background: none;
    color: @color-black;
}

.block.ves-megamenu .navigation .level0 .submenu .mega-col>.nav-item>a{
    border: none;
}
.block.ves-megamenu .navigation .level0 .submenu .mega-col>.nav-item>a:hover{
    border: none;
}
.ves-megamenu .navigation .level0>a>span, .ves-megamenu .navigation .content-type-parentcart .level1>a>span{
    .lib-font-size(12);
}

@media only screen and (max-width: 991px) and (min-width: 768px){
    .nav-item.level1.submenu-alignleft.subgroup.dropdown-submenu.category-menu-value-top.parent{
        float: left;
        width: 18%;
        text-align: left;
    }

    .nav-item.level1.submenu-alignleft.subhover.dropdown-submenu.category-menu-value-top{
        float: left;
        width: 18%;
        text-align: left;
    }
    .ves-megamenu .navigation .item-before-content, .ves-megamenu .navigation .item-after-content{
        float: left !important;
        width: 18% !important;
        text-align: left;
    }
    .ves-megamenu .navigation .level1>a{
        .lib-font-size(12px) !important;
    }
    .category-menu-value{
        .lib-font-size(10) !important;
    }
    .category-menu-value-top{
        .lib-font-size(10);
    }
    .link-to-image{
        margin-left: 0;
        font-family: @font_roboto;
        font-weight: @font_weight_semi_bold;
        .lib-font-size(8);
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .category-menu-value-top{
        .lib-font-size(12);
        margin-left: 0 !important;
    }
    .category-menu-value{
        .lib-font-size(10px);
    }
    .category-menu-item-img{
        width: 120px;
    }
    .link-to-image{
        margin: 0;
    }
}



