.slider {
    z-index: 9;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
}
.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.slider ul {
    width: 9999px;
}
.slider ul li {
    list-style-type: none;
    float: left;
    width: 1240px;
    height: auto;
}
.slider .nav {
    position: absolute;
    left: 540px;
    bottom: 10px;
}
.slider .nav span {
    opacity: 0.9;
    background: @color-white;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
}
.slider .nav span.on {
    background: @dark_grey;
}

.slider ul img{
    width: 1240px;
    height: 400px;
}
